@use '../abstracts/' as *;

#footer-form {
    .input-wrap {
        position: relative;
        padding: 5px 7px;
        background-color: $white;
        border-radius: 30px;

        input {
            padding: 10px;
            border: unset;
        }

        button {
            border-radius: 30px;
            padding: 7px 25px;
        }
    }
}

#search-bar-widget {
    position: relative;

    input {
        background-color: $white;
        border: unset;
        border-radius: unset;
        padding: 15px 60px 15px 15px;
    }

    button {
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 0;
        color: $main;
        padding: 16px 32px;

    }
}

#comment {
    .group-gap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 33px;
    }

    .input-cmt {
        background-color: $white ;
        border-radius: unset;
        color: $text;
        font-weight: 400;

        &::placeholder {
            color: $text;
            font-weight: 400;
        }
    }

    .checkbox {
        margin-top: 20px;
        margin-bottom: 70px;

        label {
            margin-bottom: 0px;
        }
    }
}

.search-form-widget-slider {
    background-color: $white;
    padding: 32px 28px 30px 35px;
    border-radius: 6px;
    box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.06);
    width: 100%;
    z-index: 20;
}

.wd-search {
    .form-group {
        position: relative;

        &:not(:last-child) {
            margin-right: 20px;

            &::before {
                height: 61px;
                width: 1px;
                background-color: $border;
                position: absolute;
                content: '';
                right: -6px;

            }
        }

        text-align: left;

        i {
            color: $primary;
            font-size: 20px;
            margin-right: 13px;
            margin-top: 8px;
        }

        i.fs-30 {
            font-size: 30px !important;
        }

        i.fs-40 {
            font-size: 40px !important;
        }

        .search-bar-group {
            position: relative;

            label {
                font-size: 17px;
                font-weight: 700;
                line-height: 20px;
                color: $main;
                margin-bottom: 0px;
                position: absolute;
                top: 5px;
                left: 0;
            }

            input {
                padding: 38px 30px 5px 0px;
                border: unset !important;
            }

            .nice-select {
                padding: 35px 30px 8px 0px;
                border: unset !important;
                width: 200px;

                &::after {
                    top: 36%;
                }

            }

        }

        .icon-icon-filter {
            margin-right: 23px;
            cursor: pointer;

            i {
                font-size: 30px;
                color: $primary;

                &:hover {
                    color: $secondary;
                }
            }
        }

        .btn-search {
            background-color: $primary;
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            border-radius: 33px;
            padding: 20px 46px 20px 40px;
            color: $white;

            i {
                color: $white;
                margin-right: 11px;
                font-size: 17px;
            }

            &:hover {
                background-color: $secondary;
            }
        }
    }
}

.search-mobie {
    .modal-dialog {
        max-width: 800px;
        margin: 90px auto;
        padding: 0px 15px;

        .modal-content {
            border-radius: 16px;
        }

        .search-form-mobie {
            .search {
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;

                i {
                    position: absolute;
                    left: 0;
                    top: 20px;
                }

                .search-input {
                    border: unset;
                    padding: 15px 20px 15px 25px;
                }

                button {
                    border-radius: 30px;
                    padding: 20px 30px;
                }
            }

        }



        .btn-close:before {
            content: '\e986';
            font-size: 18px;
            color: $white;
            font-family: 'icomoon';
        }

        .btn-close {
            position: absolute;
            right: 0;
            top: -30px;
            padding: 0;
            background: transparent;
        }
    }
}

.form-search-faq {
    padding: 11px;
    background-color: $white;
    border-radius: 50px;
    max-width: 912px;
    width: 100%;

    button {
        max-width: 184px;
        width: 100%;
        border-radius: 50px;
        padding: 20px 20px;

        i {
            margin-right: 10px;
        }
    }

    input {
        border: 1px solid transparent !important;

        &::placeholder {
            color: $text;
            text-transform: capitalize;
            font-size: 16px;
        }
    }
}

#form-contact-us {
    .input-wrap {
        &:not(:last-child) {
            margin-bottom: 50px;
        }

        i {
            position: absolute;
            left: 5px;
            top: 6px;
            font-size: 20px;
        }

        input,
        textarea {
            padding: 8px 20px 20px 33px;
            border: unset;
            border-radius: unset;
            border-bottom: 1px solid $border;

            &::placeholder {
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
            }

            &:focus {
                border-bottom: 1px solid $main;
            }
        }

    }

    .btn-submit-contact {
        i {
            margin-right: 10px;
        }

    }
}

#form-book-tour {

    input,
    .nice-select {
        background-color: $white;
    }

    .label {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        color: $main;
    }

    p {
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
        color: $text3;

    }

    .input-wrap-sellect {
        .nice-select {
            width: 115px;
        }
    }

    .input-wrap-checkbox {
        .extra {
            margin-left: 32px;

            .name {
                font-size: 15px;
                font-weight: 500;
                line-height: 39px;
                color: $text3;
                margin-right: 4px;
                width: 90px;
            }

            .price {
                font-size: 14px;
                font-weight: 500;
                line-height: 39px;
                color: $main;
            }
        }
    }

    .total {
        font-size: 22px;
        font-weight: 700;
    }

    button {
        width: 100%;
        border-radius: 3px;
        text-transform: uppercase;
    }
}

#form-review {
    .input-wrap {

        input,
        textarea {
            background-color: $white;
            padding: 20px 17px 20px 50px;
        }

        i {
            position: absolute;
            top: 24px;
            left: 20px;
        }
    }

    .checkbox {
        label {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }

    .submit {
        width: 100%;
        text-transform: uppercase;

        &:hover {
            background-color: $secondary;
        }
    }
}

.form-footer-st2 {
    box-shadow: 0px 13px 22px 0px rgba(6, 34, 51, 0.06);

    .input-search {
        border: unset;

        &:focus {
            border: unset;
        }
    }

    button {
        padding: 20px 25px;
        border-radius: 8px;
    }
}

.wd-search-form {
    position: absolute;
    width: 100%;
    margin-top: 45px;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 30px;
    box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    transition: all 0.3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .input-group-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}