@use './variables' as *;


@mixin transition3 () {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


@mixin transitionY () {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin transitionY3 () {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}

@mixin transitionY0 () {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@mixin absolute {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin icon {
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

@mixin transition-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
@mixin text-two {
-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}