
$font-size: 15px;
$font-line: 26px;
$font-family: "Plus Jakarta Sans", sans-serif;
$font-text: "DM Sans", sans-serif;
$font-secondary: "Yesteryear", sans-serif;
$fontIcon: "icomoon";

$h1-fs: 65px;
$h1-lh: 82px;

$h2-fs: 50px;
$h2-lh: 60px;

$h3-fs: 32px;
$h3-lh: 44.2px;

$h4-fs: 22px;
$h4-lh: 30px;

$h5-fs: 20px;
$h5-lh: 25.2px;

$h6-fs: 18px;
$h6-lh: 30px;


$white:#FFFFFF;
$black:#000000;

$primary: #ffc107;
$green: #428E22;
$secondary: #FF970D;
$main:#081E2A;
$text:#4F545A;
$text2:#0A0A0A;
$text3:#83827F;
$text4:#B4B4B4;
$text5:#B6C2D4;
$pink:#FF494F;
$border: #EDEEEE;
$bg1:#EBEBEB;
$bg2:#DCDCDC;
$bg3:#F3F8F6;
$bg4:#1D231F;
$bg5:#F4F6F8;
$bg6:#212622;
$bg7:#14B0C3;
$bg8:#F1F6F4;
$bg9:#EEE9E9;
$bg10:#E0F4F3;
$bg11:#1C231F;
$bg12:#021B32;